<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      class="bg-light text-dark"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>

<head th:replace="~{/fragments/common/head :: head(#{form.user.label.register})}"></head>
<body>
<header>
    <nav th:replace="~{/fragments/common/nav}"></nav>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col min-vh-100 py-3">
            <!-- toggler -->
            <button class="btn float-end d-block d-md-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                <i class="bi bi-layout-sidebar-inset fs-3 sidebar-icon-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
                <i class="bi bi-layout-sidebar-inset fs-3 sidebar-icon-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
            </button>
            <!-- form register -->
            <section >
                <div class="container h-custom">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <h2 class="mb-4">Formulario de Usuario</h2>
                        <div class="col-md-4">
                            <img th:if="${resourceImageId == null}" th:src="@{/images/default-profile.svg}" class="card-img-top img-fluid" alt="image">
                            <img th:if="${resourceImageId != null}" th:src="@{/flight/resources(rsc=${resourceImageId})}" class="card-img-top img-fluid" alt="image">
                            <br>
                            <a th:if="${resourceImageId != null}" th:href="@{/flight/resources/downloads(rsc=${resourceImageId})}">Download</a>
                            <a th:if="${resourceImageId != null}" th:href="@{/flight/removeImg(idFlight=${flight.id},rsc=${resourceImageId})}">Delete</a>
                        </div>
                        <div class="col-md-8">
                            <form th:action="@{/web/users/save}" th:object="${user}" method="post"
                                  enctype="multipart/form-data"
                                  class="row g-3">
                                <!-- Div con lista de errores -->
                                <div th:if="${#fields.hasErrors()}" class="alert alert-danger">
                                    <h5>Se han encontrado errores:</h5>
                                    <ul>
                                        <li th:each="err : ${#fields.errors()}" th:text="${err}"></li>
                                    </ul>
                                </div>

                                <input type="hidden" th:field="*{id}"/>

                                <div class="col-md-6">
                                    <label for="name" class="form-label">Nombre</label>
                                    <input type="text" id="name" class="form-control" th:field="*{name}" required>
                                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                </div>

                                <div class="col-md-6">
                                    <label for="surname" class="form-label">Apellido</label>
                                    <input type="text" id="surname" class="form-control" th:field="*{surname}" required>
                                    <div class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
                                </div>

                                <div class="col-md-6">
                                    <label for="username" class="form-label">Usuario</label>
                                    <input type="text" id="username" class="form-control" th:field="*{username}" required>
                                    <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                                </div>

                                <div class="col-md-6">
                                    <label for="password" class="form-label">Contraseña</label>
                                    <input type="password" id="password" class="form-control" th:field="*{password}" required>
                                    <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                                </div>

                                <div class="col-md-6">
                                    <label for="passwordBis" class="form-label">Contraseña Bis</label>
                                    <input type="password" id="passwordBis" class="form-control" th:field="*{passwordBis}" required>
                                    <div class="text-danger" th:if="${#fields.hasErrors('passwordBis')}" th:errors="*{passwordBis}"></div>
                                </div>

                                <div class="col-md-6">
                                    <label for="email" class="form-label">Correo Electrónico</label>
                                    <input type="email" id="email" class="form-control" th:field="*{email}" required>
                                    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                                </div>

                                <div class="col-md-6">
                                    <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
                                    <input type="date" id="birthDate" class="form-control" th:field="*{birthDate}">
                                    <div class="text-danger"
                                         th:if="${#fields.hasErrors('birthDate')}"
                                         th:errors="*{birthDate}"
                                         th:attr="max=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></div>
                                </div>

                                <div class="col-md-6">
                                    <!--                                <label for="resourceId" class="form-label">ID Recurso</label>-->
                                    <!--                                <input type="text" id="resourceId" class="form-control" th:field="*{resourceId}">-->
                                    <!-- id of input equal to for label -->
                                    <label for="file" class="col-md-2 col-form-label" th:text="Image"></label>
                                    <div class="col">
                                        <input type="file" class="form-control"  id="file" name="file">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <label class="form-label">Roles</label>
                                    <select multiple class="form-select" th:field="*{roles}" size="4">
                                        <option th:each="role : ${allRolesName}"
                                                th:value="${role}"
                                                th:text="${role}"
                                                th:selected="${allRolesName.contains(role)}">
                                        </option>
                                    </select>
                                    <div class="form-text italic">Mantén pulsado Ctrl (Windows) o Cmd (Mac) para seleccionar varios.</div>
                                    <div class="text-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                    <a th:href="@{/web/index}" class="btn btn-secondary">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="row">
            <!-- Footer -->
            <footer th:replace="~{/fragments/common/footer}"></footer>
        </div>
    </div>
</div>



<div th:replace="~{/fragments/common/scripts}"></div>
</body>
</html>