<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      class="bg-light text-dark">
<!--/@ thymesVar id="title" type="java.lang.String" */-->
<head th:replace="~{/fragments/common/head :: head(${title})}"></head>
<body>
<header>
    <nav th:replace="~{/fragments/common/nav}"></nav>
</header>

<div class="container-fluid wrapper">
    <div class="row">
        <div class="col min-vh-100 py-3">
            <!-- toggler -->
            <button class="btn float-end d-block d-md-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
                <i class="bi bi-layout-sidebar-inset fs-3 sidebar-icon-light" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
                <i class="bi bi-layout-sidebar-inset fs-3 sidebar-icon-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
            </button>
            Content..
        </div>
    </div>
    <div class="row">
        <!-- Footer -->
        <footer th:replace="~{/fragments/common/footer}"></footer>
    </div>
</div>



<div th:replace="~{/fragments/common/scripts}"></div>
</body>
</html>